<ion-view view-title="Calculadora">
  <ion-content class="padding">
    
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">Primeiro número</span>
        <input type="number" placeholder="Primeiro número" ng-model="numero1">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Segundo número</span>
        <input type="number" placeholder="Segundo número" ng-model="numero2">
      </label>
    </div>


    <div class="row">
      <div class="col"><button class="button button-block button-positive" ng-click="adicionar(numero1, numero2)">Adicionar</button></div>
      <div class="col"><button class="button button-block button-positive" ng-click="subtrair(numero1, numero2)">Subtrair</button></div>
      <div class="col"><button class="button button-block button-positive" ng-click="multiplicar(numero1, numero2)">Multiplicar</button></div>
      <div class="col"><button class="button button-block button-positive" ng-click="dividir(numero1, numero2)">Dividir</button></div>
    </div>

    <div class="card">
        <div class="item item-text-wrap">
          {{ resultado }}
        </div>
      </div>

  </ion-content>
</ion-view>
